exclude .pre-commit-config.yaml
exclude .gitignore
recursive-exclude .github *
recursive-exclude scripts *.sh
include README.md
include .coveragerc
include .flaskenv
include tox.ini
recursive-include tests *.py
